.app10 {
    width: 1170px;
    height: 424px;
    left: calc(50% - 1170px / 2);
    top: 10px;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.05);
    border: 0.5px solid #a8a8a8;
    border-radius: 7px;
    margin-bottom: 51px;
}

.titlePage10 {
    top: 25px;
    width: 1170px;
    height: 22px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2f2f2f;
}

.lineUnderHeading10 {
    position: absolute;
    width: 1169px;
    height: 0px;
    top: 71px;
    border-bottom: 1px solid #a8a8a8;
}

/* content styles */

.content10 {
    top: 130px;
    left: calc(50% - 698px / 2);
    width: 698px;
    height: 172px;
}

.img10 {
    width: 698px;
    height: 77px;
}

.input10 {
    top: 47px;
    left: calc(50% - 103px / 2);
    width: 103px;
    height: 45px;
}

.input10 input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 16px;
    width: 103px;
    height: 45px;
    background: #ffffff;
    border: 1px solid #2f2f2f;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
}
