.app11 {
    width: 1170px;
    height: 462px;
    left: calc(50% - 1170px / 2);
    top: 10px;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.05);
    border: 0.5px solid #a8a8a8;
    border-radius: 7px;
    margin-bottom: 51px;
}

.titlePage11 {
    top: 26px;
    left: calc(50% - 770px / 2);
    width: 770px;
    height: 22px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #2f2f2f;
}

.lineUnderHeading11 {
    position: absolute;
    width: 1169px;
    height: 0px;
    top: 70px;
    border-bottom: 1px solid #a8a8a8;
}

/* content styles */

.content11 {
    top: 120px;
    left: calc(50% - 474px / 2);
    width: 474px;
    height: 210px;
}

.firstRow11,
.secondRow11,
.fourthRow11 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.firstRow11,
.secondRow11,
.fourthRow11 {
    height: 30px;
}

.thirdRow11 {
    text-align: center;
    height: 20px;
    margin-bottom: 20px;
}

.firstRow11 {
    margin-bottom: 36px;
}

.secondRow11 {
    margin-bottom: 45px;
}

.fourthRow11 {
    left: calc(50% - 140px / 2);
    width: 140px;
    height: 30px;
}

.fourthRow11 input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 16px;
    width: 70px;
    height: 30px;
    border: 1px solid #2f2f2f;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
}

.sign11 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
}

.firstRow11 div:not(.statusMiniIcon) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 54px;
    height: 30px;
    background: #ffffff;
    border: 1px solid #2f2f2f;
    box-sizing: border-box;
    border-radius: 5px;
}

.secondRow11 div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 16px;
    width: 54px;
    height: 30px;
    background: #369cb7;
    border: 1px solid #369cb7;
    box-sizing: border-box;
    border-radius: 5px;
    color: white;
    cursor: grab;
}
